/* General reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Header */
header h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

/* Search bar */
.search-bar {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.category-list {
    width: 100%;
}

.category-title p {
    margin: 10px 0;
    color: #000000;
    font-size: 20px;
}

/* Game grid */
.game-grid {
    display: grid;
    gap: 10px;
    width: 100%;
}

/* Landscape mode: Max 5 items per row */
@media (orientation: landscape) {
    .game-grid {
        grid-template-columns: repeat(5, 1fr);
        /* Max 5 items per row */
        max-width: 100%;
    }
}

/* Portrait mode: Max 2 items per row */
@media (orientation: portrait) {
    .game-grid {
        grid-template-columns: repeat(3, 1fr);
        /* Max 2 items per row */
        max-width: 100%;
    }
}

/* Game cards */
.game-card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    width: 100%;
}

.image-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e2e2e2;
    height: 100%;
    object-fit: cover;
}

.game-card p {
    color: #000000;
    font-size: 1rem;
    margin-top: 5px;
}

/* .game-card:hover {
    transform: scale(1.05);
} */