
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    min-width: 50px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.171);
    transition: top 0.5s;
    z-index: 100;
    display: flex;
}
.logo {
    width: 30px;
    margin-right: 20px;
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
    display: flex;
    font-weight: 600;
    align-items: center;
}

body {
    background-color: #ffffff;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 20px; 
}

/* Header */
header h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
}



.category-title p {
    margin: 10px 0;
    color: #000000;
    font-size: 25px;
    font-weight: 700;
}

.category-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.category-title img {
    width: 1rem;
    margin-right: 10px;
}
.game-grid {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    grid-template-columns: repeat(4, 1fr);
}
.category-list {
    width: 100%;
}
@media (orientation: landscape) {
    .game-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (orientation: portrait) {
    
}

@media screen and (max-width: 700px) {
    .game-grid {
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media screen and (min-width: 1000px) {
    .category-list {
        width: 70%;
    }
    .top-bar {
        padding: 20px 15%;
    }
}

/* Game cards */
.game-card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    transition: transform 0.3s;
    margin-bottom: 10px;
    width: 100%;

}

.image-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100%;
    object-fit: cover;
}

.game-card p {
    color: #000000;
    font-size: 1rem;
    margin-top: 5px;
}
.game-card:hover {
    transform: scale(1.07);
}